footer.front-footer {
  width: 100%;
  background: @grey;
  padding: 50px;

  .footer-container {
    .flex;
    .space-between;
    .align-items-center;
    .footer-item {
      //text-transform: uppercase;
      color: @deepblue2;
      text-align: center;
      letter-spacing: 1px;
      .type-light;
    }
    .footer-social {
      ul {
        .flex;
        .footer-social-item {
          cursor: pointer;
          margin-right: 20px;
          width:36px;
          svg {
            fill:@deepblue2;
            transition: 0.3s fill ease-in-out;
            &:hover {
              fill: @deepblue;
            }
          }
        }
      }
    }
  }

}
