/*Grand écran et ecran bureau*/
/*comportement 959 et + */
@media screen and (min-width: 768px) {

  .images-content .mini-wrap:hover .mask {
    opacity: 1.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

/*moyen format 1024 a 768*/
/*comportement a partir de 960px*/
@media screen and (max-width: 959px) {
  .images-content {
    .mini-wrap {
      width: 100%;
    }
  }
}

/*comportement a partir de 768px*/
@media screen and (max-width: 767px) {

  #medium-wrapper {
    display: none;
  }

}