#small-wrap {
  header.home-header.nav-about {
    width: 100%;
    background: @deepblue;
    position: fixed;
    top: 0;
  }
}

.curriculum {
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    display: block;
    height: 100px;
    width: 100%;
    //background: @yellow;
  }
}

.curriculum-background {
  background: @yellow;
  height: 250px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -99;
}

.curriculum-container {
  background: white;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0 5px 0 lightgrey;
  h2.titre {
    margin-bottom: 25px;
  }
  .curriculum-part {
    background: white;
    .flex;
    .flex-wrapwrap;

    p.curriculum-col:nth-child(1) {
      margin-right: 20%;
    }
  }
  .curriculum-part:nth-child(2)::after {
    content: '';
    display: block;
    height: 1px;
    background: black;
    width: 100%;
    margin: 22px 0 50px 0;
  }

}

.curriculum-container::after {
  content: '';
  height: 100px;
  width: 100%;
}

.curriculum-media {
  .flex;
  .column;
  .align-items-center;
  width: 100%;
  margin-bottom: 20px;
  .curriculum-video {
    width: 100%;
    max-width: 900px;
  }

  .btn {
    width: 20%;
    min-width: 150px;
    -webkit-box-shadow: 0px 0px 2px #9c9c9c;
    -moz-box-shadow: 0px 0px 2px #9c9c9c;
    box-shadow: 0px 0px 2px #9c9c9c;
    color: white;
    background: @yellow;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    transition: 0.2s box-shadow ease-in-out;
    &:nth-child(2) {
      margin-top: 40px;
    }
    i {
      margin-right: 8px;
      font-size: 0.8rem;
    }
    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 4px #9c9c9c;
      -moz-box-shadow: 0px 0px 4px #9c9c9c;
      box-shadow: 0px 0px 4px #9c9c9c;
    }
  }
}