footer.front-footer {
  width: 100%;
  background: @white;
  padding: 50px;

  .footer-container {
    .flex;
    .space-between;
    .align-items-center;
    .footer-item {
      text-align: center;
      .type-regular;

    }
    .footer-social {
      ul {
        .flex;
        .footer-social-item {
          cursor: pointer;
          margin-right: 20px;
          width:36px;
          svg {
            fill: @deepblue;
          }
        }
      }
    }
  }

}
