/* images cover + positionnement et survol */

.images-content {
  .flex;
  .flex-wrapwrap;

}
.images-content .mini-wrap {
  position: relative;
  width: 50%;
}

.images-content .cover{
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin-bottom: -8px;
}

.images-content .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: @yellow;
  height: 100%;
  box-shadow: 0 0 2px transparent;
  -webkit-transition: box-shadow 0.3s, opacity 0.2s;
  transition: box-shadow 0.3s, opacity 0.2s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.images-content .mini-wrap:hover .mask {
  opacity: 1.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}